{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Linkella{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

</head>
<body class="home-container">
  <header>
    <nav class="site-nav">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'cna_list' %}">Available CNAs</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>


</body>
</html>
